<span dir="ltr">
  <button mat-button [matMenuTriggerFor]="langMenu">
    <mat-icon>language</mat-icon>
    <mat-menu #langMenu="matMenu">
      <button *ngFor="let lang of locales" mat-menu-item (click)="languageButtonClick(lang)">
        <mat-icon *ngIf="isCurrent(lang)">check_circle</mat-icon>
        <mat-icon *ngIf="!isCurrent(lang)">radio_button_unchecked</mat-icon>
        {{'language.' + lang + '.name' | translate}}
      </button>
    </mat-menu>
  </button>
</span>