<h1>{{'payments-view.title' | translate}}</h1>
<app-busystate-wrapper [state]="viewModel" [suppressLoading]="true">
  <form *ngIf="viewModel.mode=='input'" (ngSubmit)="continueClick()">
    <mat-form-field appearance="outline" class="payment-form-field">
      <mat-label>{{'label.from-account' | translate}}</mat-label>
      <mat-select [formControl]="formControls.fromAccount" [errorStateMatcher]="matcher">
        <mat-option *ngIf="fromAccountsLoading">
          <app-inline-busy-indicator></app-inline-busy-indicator>{{'state.loading' | translate}}
        </mat-option>
        <mat-option *ngFor="let acct of viewModel.fromAccounts" style="height:auto;" [value]="acct">
          {{acct | accountName}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="formControls.fromAccount.hasError('required')">
        {{'label.from-account' | requiredMsg }}
      </mat-error>
      <mat-hint *ngIf="viewModel.fromAccount">{{viewModel.fromAccount | accountAvailable}}</mat-hint>
    </mat-form-field>

    <mat-tab-group #paymentTypeTabGroup="matTabGroup">

      <mat-tab label="{{'label.transfer' | translate}}">

        <mat-form-field appearance="outline" class="payment-form-field tab-field">
          <mat-label>{{'label.transfer-to-account' | translate}}</mat-label>
          <mat-select [formControl]="formControls.toAccount" [errorStateMatcher]="matcher">
            <mat-option *ngIf="fromAccountsLoading">
              <app-inline-busy-indicator></app-inline-busy-indicator>{{'state.loading' | translate}}
            </mat-option>
            <mat-option *ngFor="let acct of viewModel.toAccounts" style="height:auto;" [value]="acct">
              {{acct | accountName}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formControls.toAccount.hasError('required')">
            {{'label.transfer-to-account' | requiredMsg }}
          </mat-error>
          <mat-hint *ngIf="viewModel.toAccount">{{viewModel.toAccount | accountAvailable}}</mat-hint>
        </mat-form-field>

      </mat-tab>

      <mat-tab label="{{'label.email' | translate}}">

        <mat-form-field appearance="outline" class="payment-form-field tab-field">
          <mat-label>{{'label.payee-email' | translate}}</mat-label>
          <input type="email" matInput placeholder="{{'label.payee-email' | translate}}" [formControl]="formControls.payeeEmail"
            [errorStateMatcher]="matcher">
          <mat-error *ngIf="formControls.payeeEmail.hasError('email') && !formControls.payeeEmail.hasError('required')">
            {{ 'validation.invalid-email' | translate }}
          </mat-error>
          <mat-error *ngIf="formControls.payeeEmail.hasError('required')">
            {{'label.payee-email' | requiredMsg }}
          </mat-error>
        </mat-form-field>

      </mat-tab>
      <mat-tab label="{{'label.account-number' | translate}}">
        <mat-form-field appearance="outline" class="payment-form-field tab-field">
          <mat-label>{{'label.payee-acct-num' | translate}}</mat-label>
          <input type="text" matInput placeholder="{{'label.payee-acct-num' | translate}}" [formControl]="formControls.payeeAccount"
            [errorStateMatcher]="matcher">
          <mat-error *ngIf="formControls.payeeAccount.hasError('required')">
            {{'label.payee-acct-num' | requiredMsg }}
          </mat-error>
          <mat-error *ngIf="formControls.payeeAccount.hasError('accountNumber')">
            {{'label.payee-acct-num' | invalidMsg }}
          </mat-error>
        </mat-form-field>

      </mat-tab>
      <mat-tab label="{{'label.payee' | translate}}">

        <mat-form-field appearance="outline" class="payment-form-field tab-field">
          <mat-label>{{'label.saved-payee' | translate}}</mat-label>
          <mat-select [formControl]="formControls.payee" [errorStateMatcher]="matcher">
            <mat-option *ngIf="payeesLoading">
              <app-inline-busy-indicator></app-inline-busy-indicator>{{'state.loading' | translate}}
            </mat-option>
            <mat-option *ngFor="let payee of viewModel.payees" style="height:auto;" [value]="payee">
              {{payee.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formControls.payee.hasError('required')">
            {{'label.saved-payee' | requiredMsg }}
          </mat-error>
        </mat-form-field>

      </mat-tab>
    </mat-tab-group>

    <mat-form-field appearance="outline" class="payment-form-field">
      <mat-label>{{'label.amount' | translate}}</mat-label>
      <input type="number" matInput placeholder="{{'label.amount' | translate}}" [formControl]="formControls.amount"
        [errorStateMatcher]="matcher">
      <mat-error *ngIf="formControls.amount.hasError('required')">
        {{'label.amount' | requiredMsg }}
      </mat-error>
      <mat-error *ngIf="formControls.amount.hasError('greaterThan') || formControls.amount.hasError('maxPlaces')">
        {{'label.amount' | invalidMsg }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="payment-form-field">
      <mat-label>{{'label.your-memo' | translate}}</mat-label>
      <input type="text" matInput placeholder="{{'label.your-memo' | translate}}" [formControl]="formControls.memo" [errorStateMatcher]="matcher">
    </mat-form-field>
    <mat-form-field *ngIf="formControls.paymentType.value != 'transfer'" appearance="outline" class="payment-form-field">
      <mat-label>{{'label.payee-memo' | translate}}</mat-label>
      <input type="text" matInput placeholder="{{'label.payee-memo' | translate}}" [formControl]="formControls.payeeMemo" [errorStateMatcher]="matcher">
    </mat-form-field>
    <div class="form-footer">
      <div class="buttons-panel">
        <button mat-flat-button color="accent" type="button" [disabled]="state.isBusy" (click)="cancelClick()">{{'button.cancel'
          | translate}}</button>
        <button mat-flat-button color="primary" [disabled]="state.disableSubmit">{{'button.continue'
          | translate}}</button>
      </div>
    </div>
  </form>
  <div *ngIf="viewModel.mode=='confirm'">
    <div [innerHTML]="viewModel.confirmPrompt | translatable"></div>
    <div class="form-footer">
      <div class="buttons-panel">
        <button mat-flat-button color="accent" type="button" [disabled]="state.isBusy" (click)="backClick()">{{'button.back'
          | translate}}</button>
        <button mat-flat-button color="primary" [disabled]="state.isBusy" (click)="submitClick()">{{'button.make-payment'
          | translate}}</button>
      </div>
    </div>
  </div>
  <div *ngIf="viewModel.mode=='report'">
    <div><label [innerHTML]="viewModel.successInfo | actionTitle"></label></div>
    <div [innerHTML]="viewModel.successInfo | actionOutcome"></div>
    <div class="form-footer">
      <div class="buttons-panel">
        <button mat-flat-button color="accent" type="button" [disabled]="state.isBusy" (click)="closeClick()">{{'button.close'
          | translate}}</button>
        <button mat-flat-button color="primary" [disabled]="state.isBusy" (click)="resetClick()">{{'button.make-another-payment'
          | translate}}</button>
      </div>
    </div>
  </div>
</app-busystate-wrapper>