.page-container {
    padding-top: 10%;
    width: fit-content;
    text-align: center;
    margin: auto;
    
    div {
        margin: auto;
        width: fit-content;
        text-align: center;
    }
}