@import "src/styles";

.action-info-item {
    margin: 5px 0px 5px 0px;
    padding: 5px;
    font-size: medium;
    .action-info-title {
        color: $app-highlight-color;
        font-weight: 500;
    }
    .button-container {
        float: left;
        &[rtl] {
            float: right;
        }

        .close-button {
            color: $app-highlight-color;
        }
    }
}

.action-info-item.action-info-error {
    color: red;
    .action-info-title {
        color: red;
    }
    .button-container {
        .close-button {
            color: red;
        }
    }    
}
