<div *ngFor="let info of actionInfo" class="action-info-item" [class.action-info-error]="info.responseCode !== 'ok'">
    <div class="button-container" [attr.rtl]="viewModel.rtlAttr">
        <button class="close-button" mat-icon-button (click)="closeClick(info)">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div class="text-container">
        <div *ngIf="info.titleResource" class="action-info-title">{{info | actionTitle}}</div>
        <div class="action-info-outcome" [innerHTML]="info | actionOutcome"></div>
    </div>
</div>