<app-busystate-wrapper [state]="viewModel">
  <span class="view-title">
    <button mat-button (click)="backClick()">
      <mat-icon>arrow_back_ios</mat-icon>
    </button>
    <h1>{{account.name}}</h1>
  </span>
  <app-account-header [account]="account"></app-account-header>
  <div class="app-body-theme">
    <div>
      <mat-form-field appearance="standard" class="filter-form-field" search-field>
        <mat-label>{{'label.search-tx' | translate}}</mat-label>
        <mat-icon matPrefix>search</mat-icon>
        <input type="text" matInput [formControl]="controls.text" (keyup.enter)="searchClick()">
        <button mat-button *ngIf="controls.text.value" matSuffix mat-icon-button aria-label="Clear" (click)="clearSearchClick()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <button mat-flat-button color="primary" class="filter-form-button" (click)="searchClick()">{{'button.search' |
        translate}}</button>
      <button mat-flat-button color="primary" class="filter-form-button" (click)="toggleFilterClick()">
        <mat-icon matPrefix>{{filterVisible? 'expand_less' : 'expand_more'}}</mat-icon>
        {{'button.tx-filters' | translate}}
      </button>
    </div>

    <div *ngIf="filterVisible" class="filter-form">
      <div>
        <mat-form-field appearance="outline" class="filter-form-field" short-field>
          <mat-label>{{'label.from-date' | translate}}</mat-label>
          <input matInput [matDatepicker]="frompicker" placeholder="From Date" [formControl]="controls.minDate"
            [errorStateMatcher]="matcher">
          <mat-datepicker-toggle matSuffix [for]="frompicker"></mat-datepicker-toggle>
          <mat-datepicker #frompicker startView="month" [startAt]="fromStartDate"></mat-datepicker>
          <mat-error *ngIf="controls.minDate.invalid">
            {{'label.from-date' | invalidMsg}}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="filter-form-field" short-field>
          <mat-label>{{'label.to-date' | translate}}</mat-label>
          <input matInput [matDatepicker]="topicker" placeholder="To Date" [formControl]="controls.maxDate"
            [errorStateMatcher]="matcher">
          <mat-datepicker-toggle matSuffix [for]="topicker"></mat-datepicker-toggle>
          <mat-datepicker #topicker startView="month" [startAt]="toStartDate"></mat-datepicker>
          <mat-error *ngIf="controls.maxDate.invalid">
            {{'label.to-date' | invalidMsg}}
          </mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="outline" class="filter-form-field" short-field>
          <mat-label>{{'label.min-tx-amount' | translate}}</mat-label>
          <input type="number" matInput placeholder="Min Amount" [formControl]="controls.minValue" [errorStateMatcher]="matcher">
          <mat-error *ngIf="controls.minValue.invalid">
            {{'label.min-tx-amount' | invalidMsg}}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="filter-form-field" short-field>
          <mat-label>{{'label.max-tx-amount' | translate}}</mat-label>
          <input type="number" matInput placeholder="Max Amount" [formControl]="controls.maxValue" [errorStateMatcher]="matcher">
          <mat-error *ngIf="controls.maxValue.invalid">
            {{'label.max-tx-amount' | invalidMsg}}
          </mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="outline" class="filter-form-field" short-field>
          <mat-label>{{'label.tx-direction' | translate}}</mat-label>
          <mat-select [formControl]="controls.direction" [errorStateMatcher]="matcher">
            <mat-option *ngFor="let dirOpt of viewModel.directionOptions" value="{{dirOpt.value}}">{{dirOpt.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form-footer">
        <div class="buttons-panel">
          <button *ngIf="viewModel.hasFilter" mat-flat-button color="accent" (click)="clearFilter()">{{'button.clear-filter'
            | translate}}</button>
          <button mat-flat-button color="primary" [disabled]="viewModel.isFilterApplied" (click)="applyFilter()">{{'button.apply-filter'
            | translate}}</button>
        </div>
      </div>
    </div>

    <table *ngIf="viewModel.isTablet" mat-table [dataSource]="transactions" multiTemplateDataRows class="tx-table mat-elevation-z8">
      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>{{'label.date' | translate}}</th>
        <td mat-cell *matCellDef="let tx"> {{tx.time | shortDate}} </td>
      </ng-container>

      <!-- Memo Column -->
      <ng-container matColumnDef="memo">
        <th mat-header-cell *matHeaderCellDef>{{'label.memo' | translate}}</th>
        <td mat-cell *matCellDef="let tx"> {{tx.memo}} </td>
      </ng-container>

      <!-- Money Out Column -->
      <ng-container matColumnDef="out">
        <th mat-header-cell *matHeaderCellDef>{{'label.money-out' | translate}}</th>
        <td mat-cell *matCellDef="let tx"> {{tx.value | formatCurrency: account.currency: 'neg': 'abs'}} </td>
      </ng-container>

      <!-- Money In Column -->
      <ng-container matColumnDef="in">
        <th mat-header-cell *matHeaderCellDef>{{'label.money-in' | translate}}</th>
        <td mat-cell *matCellDef="let tx"> {{tx.value | formatCurrency: account.currency: 'pos'}} </td>
      </ng-container>

      <!-- Balance Column -->
      <ng-container matColumnDef="balance">
        <th mat-header-cell *matHeaderCellDef>{{'label.balance' | translate}}</th>
        <td mat-cell *matCellDef="let tx"> {{tx.balance | formatCurrency: account.currency}} </td>
      </ng-container>

      <ng-container matColumnDef="empty">
        <td mat-cell *matCellDef="let tx"></td>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let tx" [attr.colspan]="4">
          <div class="tx-detail-content" [@detailExpand]="tx === expandedTx ? 'expanded' : 'collapsed'">
            <div *ngFor="let txData of tx.data">
              {{txData | txData}}
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="tabletColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let tx; columns: tabletColumns;" class="tx-primary-row" [class.tx-expanded-primary-row]="tx === expandedTx"
        (click)="toggleExpandedTx(tx)">
      </tr>

      <tr mat-row *matRowDef="let tx; columns: ['empty', 'expandedDetail']" class="tx-detail-row"
        [class.tx-expanded-detail-row]="tx === expandedTx" (click)="toggleExpandedTx(tx)"></tr>
    </table>

    <table *ngIf="viewModel.isPhone" mat-table [dataSource]="transactions" multiTemplateDataRows class="tx-table mat-elevation-z8">
      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>{{'label.date' | translate}}</th>
        <td mat-cell *matCellDef="let tx"> {{tx.time | shortDate}} </td>
      </ng-container>

      <!-- Money Out Column -->
      <ng-container matColumnDef="out">
        <th mat-header-cell *matHeaderCellDef>{{'label.money-out' | translate}}</th>
        <td mat-cell *matCellDef="let tx"> {{tx.value | formatCurrency: account.currency: 'neg': 'abs'}} </td>
      </ng-container>

      <!-- Money In Column -->
      <ng-container matColumnDef="in">
        <th mat-header-cell *matHeaderCellDef>{{'label.money-in' | translate}}</th>
        <td mat-cell *matCellDef="let tx"> {{tx.value | formatCurrency: account.currency: 'pos'}} </td>
      </ng-container>

      <!-- Balance Column -->
      <ng-container matColumnDef="balance">
        <th mat-header-cell *matHeaderCellDef>{{'label.balance' | translate}}</th>
        <td mat-cell *matCellDef="let tx"> {{tx.balance | formatCurrency: account.currency}} </td>
      </ng-container>

      <ng-container matColumnDef="empty">
        <td mat-cell *matCellDef="let tx"></td>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let tx" [attr.colspan]="4">
          <div class="tx-detail-content" [@detailExpand]="tx === expandedTx ? 'expanded' : 'collapsed'">
            <div>{{tx.memo}}</div>
            <div *ngFor="let txData of tx.data">
              {{txData | txData}}
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="phoneColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let tx; columns: phoneColumns;" class="tx-primary-row" [class.tx-expanded-primary-row]="tx === expandedTx"
        (click)="toggleExpandedTx(tx)">
      </tr>

      <tr mat-row *matRowDef="let tx; columns: ['empty', 'expandedDetail']" class="tx-detail-row"
        [class.tx-expanded-detail-row]="tx === expandedTx" (click)="toggleExpandedTx(tx)"></tr>
    </table>
  </div>
</app-busystate-wrapper>