@import "src/styles";

.view-title {
    button {
        color: $app-font-color-subtle;
        padding: 0px;
        min-width: 0px;
    }
    h1 {
        display: inline;
    }
}

.app-body-theme {
    clear: both;

    .filter-form {
        background-color: $app-background-contrast-color;
        border-radius: 5px;
        padding: 12px;
        margin: 8px 0px 8px 0px;
    }

    .filter-form-button {
        margin: 0px 2px 0px 2px; 
    }

    .filter-form-field {
        margin: 0px 5px 0px 5px;

        &[search-field] {
            width: 220px;
        }

        &[short-field] {
            width: 220px;
        }

        &[wide-field] {
            width: 220px;
        }                
    }
    
    .tx-table {
        width: 100%;

        th {
            font-weight: 600;
            font-size: 14px;
        }

        td {
            font-size: small;
        }
    }

    tr.tx-detail-row {
        height: 0;
    }

    .tx-expanded-primary-row {
        background-color: $app-background-contrast-color;
    }

    .tx-expanded-detail-row {
        cursor: pointer;
        background-color: $app-background-contrast-color;
    }

    .tx-primary-row  {
        cursor: pointer;
        
        td {
            border-bottom-width: 0;
        }
    }

    .tx-detail-content {
        overflow: hidden;
        // display: flex;
    }
}