<div *ngIf="isBusy" class="busy-overlay">
  <mat-spinner class="busy-spinner"></mat-spinner>
</div>
<span *ngIf="isLoading" style="padding: 0px 10px 0px 10px;">
  <mat-spinner class="busy-spinner" diameter="40" style="display: inline-block;top:10px;">
  </mat-spinner>
  {{'state.loading' | translate}}
</span>
<ng-content *ngIf="!isLoading"></ng-content>