<div>
  <h1>{{'accounts-view.title' | translate}}</h1>
  <app-busystate-wrapper [state]="viewModel">
    <app-inline-sync-indicator [syncState]="viewModel.syncState"></app-inline-sync-indicator>
    <mat-list class="account-list">
      <mat-divider matLine></mat-divider>
      <a *ngFor="let account of viewModel.accounts" (click)="accountClick(account)">
        <mat-list-item class="account-list-item">
          <h3 matLine>{{account.name}}</h3>
          <div matLine class="account-header">
            <app-account-header [account]="account"></app-account-header>
          </div>
          <div matLine></div>
          <mat-divider matLine></mat-divider>
        </mat-list-item>
      </a>
    </mat-list>
  </app-busystate-wrapper>
</div>