.account-list {
    a {        
        text-decoration: none;
        cursor: pointer;
    }
    .account-list-item {
        float: unset;
    }
}

:host ::ng-deep .account-header {
    label {
        cursor: pointer;
    }
}