<h1>{{ "profile-view.title" | translate }}</h1>
<app-busystate-wrapper [state]="viewModel">
  <form [formGroup]="viewModel.form" autocomplete="off">
    <mat-accordion class="example-headers-align">
      <mat-expansion-panel [expanded]="isExpanded(0)" (opened)="setStep(0)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ "profile-view.personal-info" | translate }}
          </mat-panel-title>
          <mat-panel-description>
            &nbsp;
            <mat-icon>account_circle</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field appearance="outline" class="text-form-field">
          <mat-label>{{ "label.first-name" | translate }}</mat-label>
          <input
            matInput
            placeholder="First name"
            [formControl]="controls.firstName"
            [errorStateMatcher]="matcher"
          />
          <mat-error *ngIf="controls.firstName.hasError('required')">
            {{ "label.first-name" | requiredMsg }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="text-form-field">
          <mat-label>{{ "label.last-name" | translate }}</mat-label>
          <input
            matInput
            placeholder="Last name"
            [formControl]="controls.lastName"
            [errorStateMatcher]="matcher"
          />
          <mat-error *ngIf="controls.lastName.hasError('required')">
            {{ "label.last-name" | requiredMsg }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{ "label.dob" | translate }}</mat-label>
          <input
            matInput
            [matDatepicker]="dobpicker"
            placeholder="Date of Birth"
            [formControl]="controls.dob"
            [errorStateMatcher]="matcher"
          />
          <mat-error
            *ngIf="
              controls.dob.hasError('required') &&
              !controls.dob.hasError('matDatepickerParse')
            "
          >
            {{ "label.dob" | requiredMsg }}
          </mat-error>
          <mat-error *ngIf="controls.dob.hasError('matDatepickerParse')">
            {{ "label.dob" | invalidMsg }}
          </mat-error>
          <mat-datepicker-toggle
            matSuffix
            [for]="dobpicker"
          ></mat-datepicker-toggle>
          <mat-datepicker
            #dobpicker
            startView="multi-year"
            [startAt]="dobStartDate"
          ></mat-datepicker>
        </mat-form-field>

        <mat-action-row>
          <button mat-button color="primary" (click)="nextStep()">
            <mat-icon>navigate_next</mat-icon>
          </button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="isExpanded(1)" (opened)="setStep(1)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ "profile-view.address" | translate }}
          </mat-panel-title>
          <mat-panel-description>
            &nbsp;
            <mat-icon>location_city</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field appearance="outline" class="text-form-field">
          <mat-label>{{ "label.address-search" | translate }}</mat-label>
          <input
            matInput
            google-places-autocomplete
            autocomplete="off"
            (addressChanged)="onAddressChanged($event)"
            placeholder="{{ 'profile-view.address-prompt' | translate }}"
            [formControl]="searchAddressFormControl"
            [errorStateMatcher]="matcher"
          />
        </mat-form-field>

        <mat-form-field appearance="outline" class="text-form-field">
          <mat-label>{{ "label.street-address" | translate }}</mat-label>
          <input
            matInput
            type="text"
            autocomplete="street-address"
            placeholder="Street Address"
            [formControl]="controls.addressStreet"
            [errorStateMatcher]="matcher"
          />
          <mat-error *ngIf="controls.addressStreet.hasError('required')">
            {{ "label.street-address" | requiredMsg }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="text-form-field">
          <mat-label>{{ "label.suburb" | translate }}</mat-label>
          <input
            matInput
            type="text"
            placeholder="Suburb"
            [formControl]="controls.addressSuburb"
            [errorStateMatcher]="matcher"
          />
        </mat-form-field>

        <mat-form-field appearance="outline" class="text-form-field">
          <mat-label>{{ "label.city" | translate }}</mat-label>
          <input
            matInput
            type="text"
            placeholder="Town/City"
            [formControl]="controls.addressLocality"
            [errorStateMatcher]="matcher"
          />
          <mat-error *ngIf="controls.addressLocality.hasError('required')">
            {{ "label.city" | requiredMsg }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="text-form-field">
          <mat-label>{{ "label.postcode" | translate }}</mat-label>
          <input
            matInput
            type="text"
            autocomplete="postal-code"
            placeholder="Postcode"
            [formControl]="controls.addressPostcode"
            [errorStateMatcher]="matcher"
          />
          <mat-error *ngIf="controls.addressPostcode.hasError('required')">
            {{ "label.postcode" | requiredMsg }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="text-form-field">
          <mat-label>{{ "label.state" | translate }}</mat-label>
          <input
            matInput
            type="text"
            autocomplete="address-level1"
            placeholder="State/Region"
            [formControl]="controls.addressRegion"
            [errorStateMatcher]="matcher"
          />
          <mat-error *ngIf="controls.addressRegion.hasError('required')">
            {{ "label.state" | requiredMsg }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="text-form-field">
          <mat-label>{{ "label.country" | translate }}</mat-label>
          <input
            matInput
            type="text"
            placeholder="Country"
            [formControl]="controls.addressCountry"
            [errorStateMatcher]="matcher"
          />
          <mat-error *ngIf="controls.addressCountry.hasError('required')">
            {{ "label.country" | requiredMsg }}
          </mat-error>
        </mat-form-field>

        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">
            <mat-icon>navigate_before</mat-icon>
          </button>
          <button mat-button color="primary" (click)="nextStep()">
            <mat-icon>navigate_next</mat-icon>
          </button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="isExpanded(2)" (opened)="setStep(2)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ "profile-view.preferences" | translate }}
          </mat-panel-title>
          <mat-panel-description>
            &nbsp;
            <mat-icon>settings</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field appearance="outline">
          <mat-select
            placeholder="{{ 'label.language' | translate }}"
            [formControl]="controls.language"
            [errorStateMatcher]="matcher"
          >
            <mat-option
              *ngFor="let lang of viewModel.locales"
              value="{{ lang }}"
              >{{ "language." + lang + ".name" | translate }}</mat-option
            >
          </mat-select>
          <mat-error *ngIf="controls.language.hasError('required')">
            {{ "label.language" | requiredMsg }}
          </mat-error>
        </mat-form-field>
        <mat-datepicker #picker></mat-datepicker>

        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">
            <mat-icon>navigate_before</mat-icon>
          </button>
          <button mat-button color="primary" (click)="nextStep()">
            <mat-icon>done</mat-icon>
          </button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
    <div class="form-footer">
      <mat-error *ngIf="viewModel.formState.showError">
        Some information is missing or invalid
      </mat-error>

      <div class="buttons-panel">
        <button
          mat-flat-button
          color="accent"
          [disabled]="viewModel.formState.isBusy"
          type="button"
          (click)="cancelClick()"
        >
          {{ "button.cancel" | translate }}
        </button>
        <button
          mat-flat-button
          color="primary"
          [disabled]="viewModel.formState.disableSubmit"
          (click)="saveClick()"
        >
          {{ "button.save" | translate }}
        </button>
      </div>
    </div>
  </form>
</app-busystate-wrapper>
