<div [dir]="viewModel.dir" [ngClass]="{'ltr':viewModel.isLtr, 'rtl':viewModel.isRtl,'viewport-phone':viewModel.isPhone, 'viewport-tablet':viewModel.isTablet}">
    <div class="dialog-container">
        <div class="dialog-header">
            <mat-icon>error_outline</mat-icon>
            <h2>{{viewModel.title}}</h2>
        </div>
        <p>{{viewModel.context}}</p>
        <p>{{viewModel.message}}</p>
        <div class="dialog-footer">
            <button type="button" mat-flat-button color="primary" (click)="closeClick()">{{'button.close-window' |
                translate }}</button>
        </div>
    </div>
</div>