<div [dir]="dir" [ngClass]="{'ltr':!isRtl, 'rtl':isRtl,'viewport-phone':isPhone, 'viewport-tablet':!isPhone}" style="max-width: 1000px; height: 100%; margin: auto;">
    <router-outlet></router-outlet>
</div>