.account-header {
    font-size: 15px;

    label {
        margin-right: 10px;
    }

    .detail-part {
        text-align: start;
        float: left;
    }

    .balance-part {
        float: right;
        text-align: end;
        width: fit-content;
    }
    &[rtl] {
        .detail-part {
            float: right;
        }
    
        .balance-part {
            float: left;
        }
    }
    &[phone] {
        .detail-part {
            margin-top: 5px;    
            text-align: start;
            float: none;
        }
        .balance-part {
            margin-top: 5px;
            margin-bottom: 5px;
                text-align: start;
            float: none;
        }                
    }
}