<div class="account-header" [attr.rtl]="viewModel.rtlAttr" [attr.phone]="viewModel.phoneAttr">
    <div class="detail-part">
        <div><label>{{'label.account-number' | translate}}</label>{{account.number}}</div>
        <div><label>{{'label.account-email' | translate}}</label>{{account.email}}</div>
    </div>
    <div class="balance-part">
        <div><label>{{'label.balance' | translate}}</label>{{account.balance | formatCurrency: account.currency}}</div>
        <div><label>{{'label.available' | translate}}</label>{{account.available | formatCurrency: account.currency}}</div>
    </div>
</div>