@import "src/styles";

.app-top-toolbar {
    padding-top: 5px;

    &[viewport-phone] {
        padding-top: 12px;
    }
}

mat-sidenav-container {
    height: calc(100% - 64px);

    mat-sidenav {
        &[viewport-tablet] {
            /** Enable the busy overlay to cover the drawer in tablet mode.
            Setting the z-index in phone mode results in the side-nav drawer being rendered behind the side-nav-container.
            **/
            z-index: 1 !important; 
        }
        margin: auto;
        border-right: solid 1px;
    
        .app-logo {
            padding: 5px 0px 5px 0px;
            text-align: center;
            border-bottom: solid 1px;
        }

        .side-nav-action-container {
            margin: auto;
            text-align: center;
            padding: 15px 0px 10px 0px;
            border-bottom: solid 1px;
        }
        a {
            &.selected-item {
                color: $app-highlight-color;
            }
            mat-icon {
                @include md-icon-size(38px);
            }

            min-width: 170px;
            font-size: 14px;
            font-weight: normal;
        }
    }

    mat-sidenav-content {
        padding: 0px 8px 0px 8px;
    }
}