<mat-toolbar class="app-top-toolbar mat-elevation-z8" [attr.viewport-phone]="viewModel.phoneAttr">
  <button *ngIf="isPhone" mat-button (click)="toggleSidenavClick()">
    <mat-icon>menu</mat-icon>
  </button>
  <span *ngIf="!isPhone">{{'app.title' | translate}}</span>
  <span class="toolbar-center-span"></span>
  <app-notification-indicator></app-notification-indicator>
  <app-top-menu *ngIf="!isPhone"></app-top-menu>
  <app-language-selector></app-language-selector>
</mat-toolbar>

<mat-sidenav-container class="app-body-theme">
  <mat-sidenav #sideNav [attr.viewport-tablet]="viewModel.tabletAttr">
    <div class="app-logo"><img src="assets/images/pretend-pay-logo-100x50.png"></div>
    <div class="side-nav-action-container">
      <a mat-button [class.selected-item]="viewModel.viewContext==='accounts'" (click)="accountsClick()">
        <mat-icon>account_balance</mat-icon>
        <div>{{'action-item.accounts-view' | translate}}</div>
      </a>
    </div>
    <div class="side-nav-action-container">
      <a mat-button [class.selected-item]="viewContext==='pay-transfer'" (click)="paymentClick()">
        <mat-icon>autorenew</mat-icon>
        <div>{{'action-item.pay-transfer-view' | translate}}</div>
      </a>
    </div>
    <div class="side-nav-action-container">
      <a mat-button [class.selected-item]="viewContext==='payees'" (click)="payeesClick()">
        <mat-icon>group</mat-icon>
        <div>{{'action-item.payees-view' | translate}}</div>
      </a>
    </div>
    <div *ngIf="isPhone">
      <div class="side-nav-action-container">
        <a mat-button [class.selected-item]="viewContext==='profile'" (click)="profileClick()">
          <mat-icon>account_circle</mat-icon>
          <div>{{'action-item.profile' | translate}}</div>
        </a>
      </div>
      <div class="side-nav-action-container">
        <a mat-button [class.selected-item]="viewContext==='profile'" (click)="feedbackClick()">
          <mat-icon>feedback</mat-icon>
          <div>{{'action-item.feedback' | translate}}</div>
        </a>
      </div>
      <div class="side-nav-action-container">
          <a mat-button [class.selected-item]="viewContext==='profile'" (click)="logoutClick()">
            <mat-icon>lock_open</mat-icon>
            <div>{{'action-item.logout' | translate}}</div>
          </a>
        </div>      
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div #scrollTarget></div>
    <app-action-info-list></app-action-info-list>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>