<div [dir]="viewModel.dir" [ngClass]="{'ltr':viewModel.isLtr, 'rtl':viewModel.isRtl,'viewport-phone':viewModel.isPhone, 'viewport-tablet':viewModel.isTablet}">
    <div class="dialog-container">
        <div class="dialog-header">
            <mat-icon>help_outline</mat-icon>
            <h2>{{viewModel.title}}</h2>
        </div>
        <p>{{viewModel.message}}</p>
        <div class="dialog-footer">
            <div class="buttons-panel">
                <button type="button" mat-flat-button color="accent" (click)="cancelClick()">{{viewModel.cancelText}}</button>
                <button mat-flat-button color="primary" (click)="confirmClick()">{{viewModel.confirmText}}</button>
            </div>
        </div>
    </div>
</div>