<div [dir]="viewModel.dir" [ngClass]="{'ltr':viewModel.isLtr, 'rtl':viewModel.isRtl,'viewport-phone':viewModel.isPhone, 'viewport-tablet':viewModel.isTablet}">
    <div class="dialog-container">
        <div class=" dialog-header">
            <mat-icon>feedback</mat-icon>
            <h2>{{'feedback-view.title' | translate }}</h2>
        </div>
        <div *ngIf="state.isBusy" class="busy-overlay">
            <mat-spinner class="busy-spinner"></mat-spinner>
        </div>

        <form>
            <div class="radio-group-header">{{'feedback-view.prompt' | translate }}</div>
            <div>
                <mat-radio-group class="radio-group" [formControl]="formControls.feedbackType">
                    <mat-radio-button class="radio-button" value="usage">
                        {{'feedback-view.option-usage' | translate }}
                    </mat-radio-button>
                    <mat-radio-button class="radio-button" value="products">
                        {{'feedback-view.option-products' | translate }}
                    </mat-radio-button>
                    <mat-radio-button class="radio-button" value="experience">
                        {{'feedback-view.option-experience' | translate }}
                    </mat-radio-button>
                </mat-radio-group>
            </div>

            <mat-form-field appearance="outline" class="form-field">
                <mat-label>{{'feedback-view.label-feedback' | translate }}</mat-label>
                <textarea matInput type="text" rows="3" maxlength="1000" placeholder="{{'feedback-view.label-feedback' | translate }}"
                    [formControl]="formControls.feedback" [errorStateMatcher]="matcher"></textarea>
                <mat-error *ngIf="formControls.feedback.hasError('required')">
                    {{'feedback-view.label-feedback' | requiredMsg }}
                </mat-error>
            </mat-form-field>

            <div class="dialog-footer">
                <div class="buttons-panel">
                    <button type="button" mat-flat-button color="accent" [disabled]="state.isBusy" (click)="cancelClick()">{{'button.cancel'
                        | translate }}</button>
                    <button mat-flat-button color="primary" [disabled]="state.isBusy" (click)="continueClick()">{{'button.continue'
                        |
                        translate }}</button>
                </div>
            </div>
        </form>
    </div>
</div>