.view-title {
    float: left;
    &[rtl] {
        float: right;
    }        
}
.app-top-actions {
    float: right;
    button {
        margin-top: 20px !important;
    }
}

label {
    font-weight: bold !important;
}

.payee-list {
    .payee-list-item {
        float: unset;

        .app-action-section {
            float: right;
        }
    }
}

[rtl] {
    .view-title {
        float: right;
    }
    .app-top-actions {
        float: left;
    }
    .payee-list {
        .payee-list-item {            
            .app-action-section {
                float: left;
            }
        }
    }
}