<div [attr.rtl]="viewModel.rtlAttr">
  <div class="view-title">
    <h1>{{'payees-view.title' | translate}}</h1>
  </div>
  <div *ngIf="viewModel.isLoaded" class="app-top-actions app-action-section">
    <button mat-mini-fab matTooltip="{{'payees-view.create-prompt' | translate}}" (click)="createClick()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div style="clear: both;">
    <app-busystate-wrapper [state]="viewModel">
      <div *ngIf="viewModel.isLoaded">
        <div style="clear: both;">
          <mat-list class="payee-list">
            <mat-divider></mat-divider>
            <mat-list-item class="payee-list-item" *ngFor="let payee of viewModel.payees">
              <h3 matLine>{{payee.name}}</h3>
              <label matLine>{{payee.paymentTarget}}</label>
              <p *ngIf="payee.description" matLine class="app-list-description">{{payee.description}}</p>
              <div matLine style="width:100%;">
                <div class="app-action-section">
                  <button mat-icon-button (click)="editClick(payee)">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button mat-icon-button (click)="deleteClick(payee)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </div>
              <mat-divider></mat-divider>
            </mat-list-item>
          </mat-list>
        </div>
      </div>
    </app-busystate-wrapper>
  </div>
</div>