@import "src/styles";

.app-not {
    .app-not-inner {
        margin: 0px 15px 0px 15px;
        &[no-notifications] {
            margin-top: 15px;
            margin-bottom: 15px;
        }
    }

    .app-not-title {
        color: $app-menuitem-title-color;
    }

    .app-not-account {
        color: $app-menuitem-highlight-color;
    }

    .app-not-body {
        font-size: 14px;
        color: $app-menuitem-text-color;
    }    

    [app-not-divider] {
        margin: 0px 15px 15px 15px;
        border-top: solid 1px $app-menuitem-text-color;
    }    
}

.app-not:last-of-type {
    [app-not-divider] {
        margin: 0px;
        border-top: none;
    }
}