<span>
  <button
    mat-icon-button
    matBadge="{{ badge }}"
    matBadgePosition="before"
    matBadgeColor="warn"
    [matMenuTriggerFor]="notMenu"
  >
    <mat-icon>notifications_active</mat-icon>
    <mat-menu #notMenu="matMenu">
      <button
        mat-menu-item
        *ngIf="viewModel.notificationCount > 1"
        (click)="dismissAllClick()"
      >
        {{ "button.dismiss-all" | translate }}
      </button>
      <div class="app-not" *ngFor="let not of viewModel.notifications">
        <div class="app-not-inner">
          <div class="app-not-title">
            {{ "notification-view.receipt-title" | translate }}
          </div>
          <div class="app-not-account">
            {{ not.accountName }}
          </div>
          <div class="app-not-body">
            {{
              "notification-view.receipt-message"
                | quantityDescriptor
                  : not.transactionCount
                  : {
                      count: not.transactionCount,
                      value: not.total | formatCurrency: not.currency
                    }
            }}
          </div>
        </div>
        <div>
          <button mat-menu-item (click)="dismissClick($event, not)">
            {{ "button.dismiss" | translate }}
          </button>
        </div>
        <div app-not-divider></div>
      </div>

      <div *ngIf="viewModel.notificationCount == 0" class="app-not">
        <div class="app-not-inner" no-notifications>
          <div class="app-not-body">
            {{ "notification-view.none" | translate }}
          </div>
        </div>
      </div>
    </mat-menu>
  </button>
</span>
