@use '~@angular/material' as mat;
@import "src/styles";

.dialog-wrapper {
    margin: auto;
    min-width: 150px;
    max-width: 500px;
}
.app-login-dialog {
    padding-top: 0px;
    padding: 5px 15px 5px 15px;

    .app-login-dialog-header {
        width: 100%;
        padding: 30px 0px 0px 0px;
        text-align: center;
    }

    .app-login-form {
        // margin-bottom: 30px;

        .app-login-form-field {        
            width: 100%;
        }
        
        .app-login-form-footer {
            padding: 0px 5px 0px 5px;
        }

        .app-login-error {
            padding-bottom: 30px;
            text-align: inherit;
            mat-icon {
                display: inline-block;
                vertical-align: middle;    
                color: mat.get-color-from-palette($app-warn);
            }
        }

        .app-login-form-buttons {
            text-align: center;
            button {
            padding: 0px 40px 0px 40px;
            }
        }
    }

    .app-subtext {
        text-align: center;
    }
}