<mat-toolbar class="app-top-toolbar">
  <span>{{'app.title' | translate}}</span>
  <span class="toolbar-center-span"></span>
  <app-language-selector></app-language-selector>
</mat-toolbar>
<div class="dialog-wrapper">
  <div class="app-login-dialog">
    <div *ngIf="viewModel.isTablet" class="app-login-dialog-header">
      <img src="assets/images/pretend-pay-logo-200x100.png">
      <h1>{{'login-view.title' | translate}}</h1>
    </div>
    <div *ngIf="viewModel.isPhone" class="app-login-dialog-header">
      <img src="assets/images/pretend-pay-logo-100x50.png">
    </div>
    <form class="app-login-form">
      <div *ngIf="viewModel.isBusy" class="busy-overlay">
        <mat-spinner class="busy-spinner"></mat-spinner>
      </div>
      <mat-form-field appearance="outline" class="app-login-form-field">
        <mat-label>{{'label.email' | translate}}</mat-label>
        <mat-icon matPrefix>email</mat-icon>
        <input matInput type="email" autocomplete="email" placeholder="{{ 'login-view.email-prompt' | translate }}"
          [formControl]="controls.email" [errorStateMatcher]="matcher">
        <mat-error *ngIf="controls.email.hasError('email') && !controls.email.hasError('required')">
          {{ 'validation.invalid-email' | translate }}
        </mat-error>
        <mat-error *ngIf="controls.email.hasError('required')">
          {{'label.email' | requiredMsg }}
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="app-login-form-field">
        <mat-label>{{'label.password' | translate}}</mat-label>
        <mat-icon matPrefix>lock</mat-icon>
        <input matInput autocomplete="current-password" placeholder="{{ 'login-view.password-prompt' | translate }}"
          type="password" [formControl]="controls.password" [errorStateMatcher]="matcher">
        <mat-error *ngIf="controls.password.hasError('required')">
          {{'label.password' | requiredMsg }}
        </mat-error>
      </mat-form-field>
      <div class="app-login-form-footer">
        <div *ngIf="viewModel.hasApiError" class="app-login-error">
          <mat-icon matPrefix>error</mat-icon><span>{{viewModel.errorCode | apiErrorMessage}}</span>
        </div>
        <div class="app-login-form-buttons">
          <button mat-flat-button color="primary" [disabled]="viewModel.isBusy" (click)="loginClick()">{{'action-item.login'
            | translate}}</button>
        </div>
      </div>
    </form>
    <p class="app-subtext">
      An Angular 8 Single-Page-App (SPA) demo by Bryce Marshall
    </p>
  </div>
</div>