@use '~@angular/material' as mat;
@use '~@angular/cdk' as cdk;
@import '~@angular/material/theming';

/*
the default material style removed from the styles section of angular.json
"./node_modules/@angular/material/prebuilt-themes/indigo-pink.css"
*/

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$app-primary: mat.define-palette(mat.$light-blue-palette, 500, 700, 800);
$app-accent:  mat.define-palette(mat.$grey-palette, A200, A100, A400);
// The warn palette is optional (defaults to red).
$app-warn: mat.define-palette(mat.$yellow-palette);

$app-go: mat.define-palette(mat.$green-palette, 500, 700, 800);

// $app-body-primary: mat-palette($mat-indigo);
$app-body-primary: mat.define-palette(mat.$light-blue-palette, 500, 700, 800);
$app-body-accent:  mat.define-palette(mat.$grey-palette, 500, 700, 800);
// The warn palette is optional (defaults to red).
$app-body-warn:    mat.define-palette(mat.$red-palette);

// Create the theme object (a Sass map containing all of the palettes).
// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat.define-dark-theme($app-primary, $app-accent, $app-warn);
// $app-theme: mat-dark-theme($app-body-primary, $app-body-accent, $app-body-warn);
$app-body-theme: mat.define-light-theme($app-body-primary, $app-body-accent, $app-body-warn);

// $app-grid-light: mat-color($app-accent, 300);
// $app-grid-light: mat-color($app-primary);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($app-theme);

.app-body-theme {
    @include mat.all-component-themes($app-body-theme);
    $background: map-get($app-body-theme, background);
    $foreground: map-get($app-body-theme, foreground);
    background-color: mat.get-color-from-palette($background, background);
    $divider-color: mat.get-color-from-palette($foreground, divider);
    color: mat.get-color-from-palette($foreground, text);

    .app-logo, .side-nav-action-container {
        border-bottom-color: $divider-color !important;
    }
}

.app-login-form {
    padding: 30px;
    border-radius: 8px;
    background-color: mat.get-color-from-palette($app-primary, 700);        
    color: white;

    input {
        color: white;
        @include cdk.text-field-autofill-color(mat.get-color-from-palette($app-primary, 700), white);
    } 
    ::selection {
        background: mat.get-color-from-palette($app-primary, 100);
    }
    ::-moz-selection {
        background: mat.get-color-from-palette($app-primary, 100);
    }
}

.ltr {
    .app-login-form {
        mat-icon {
            padding: 0px 5px 0px 0px;
        }    
    }
}

.rtl {
    .app-login-form {
        mat-icon {
            padding: 0px 0px 0px 5px;
        }    
    }
}

.default-snack-bar {
    $base: map-get($app-theme, accent);
    background-color: mat.get-color-from-palette($base, 900);
    color: mat.get-color-from-palette($base, 100);
}        
