/* You can add global styles to this file, and also import other style files */
@use '~@angular/material' as mat;
@import './material-theme.scss';

$primary: #1E88E5;
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// .mat-form-field-outline-start, .mat-form-field-outline-gap, .mat-form-field-outline-end {
//     background-color: mat-color($app-primary, darker);
// }

$app-font-color: mat.get-color-from-palette($app-accent, 700);
$app-font-color-subtle: mat.get-color-from-palette($app-accent, 500);
$app-highlight-color: mat.get-color-from-palette($app-body-primary, 500);
$app-action-button-text-color: mat.get-color-from-palette($app-accent, 300);
$app-background-contrast-color: mat.get-color-from-palette($app-accent, 300);
$app-color-go: mat.get-color-from-palette($app-go, 700);
$app-menuitem-title-color: white;
$app-menuitem-highlight-color: $app-highlight-color;
// $app-menuitem-text-color: #cfcfcf;
$app-menuitem-text-color: mat.get-color-from-palette($app-accent, 300);

@mixin md-icon-size($size: 24px) {
    font-size: $size;
    height: $size;
    width: $size;
}

.app-top-toolbar {
    .toolbar-center-span {
    /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout.
     */        
        flex: 1 1 auto;
        text-align: center;
    }
}

h1 {
    font-family: Calibri,HelveticaNeue,Segoe UI,Helvetica,Arial,Sans-Serif;
    font-size: 30px;
    color: $app-font-color; 
}

h3 {
    // font-family: Calibri,HelveticaNeue,Segoe UI,Helvetica,Arial,Sans-Serif;
    color: mat.get-color-from-palette($app-accent, 600);
    font-weight: bold !important;
}

.h3-subtext {
    color: $app-highlight-color;
    font-size: smaller !important;
}

.app-list-description {
    color: $app-font-color-subtle;
    font-size: smaller;
    margin: 10px 0px 0px 0px !important;
    text-overflow: ellipsis;
}

.app-subtext {
    font-family: Calibri,HelveticaNeue,Segoe UI,Helvetica,Arial,Sans-Serif;
    font-size: 16px;
    color: $app-font-color; 
}

.app-action-section {
    button[mat-icon-button]
     {
        color: $app-highlight-color !important;
        :hover {
            color: $app-font-color !important
        };
    }

    button[mat-mini-fab], button[mat-fab] {
        background-color: $app-highlight-color !important;
        color: $app-action-button-text-color !important;
        :hover {
            color: $app-font-color !important
        };        
    }
}

.app-text-form-field {
    width: 100%;
}

label {
    font-weight: bold;
    color: $app-highlight-color;
}

.account-header {
    color: $app-font-color;
}

.busy-overlay {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 1000; /* Specify a stack order in case you're using a different order for other elements */
    cursor: default;
    
    .busy-spinner {
        top: 50%;
        margin: auto;
    }     
}

.dialog-header {
    mat-icon {
        display: inline;
        margin: 0px 5px 0px 5px;
    }

    h2 {
        position: relative;
        top: -5px;
        display: inline;
    }
    
    margin-bottom: 12px;
}
 
.dialog-footer {
    // .buttons-panel {
    //     float: right;
    // }
    button {
        min-width: 150px;
        margin: 0px 10px 0px 10px;
    }
}

.form-footer {    
    padding-bottom: 50px;

    button {
        min-width: 150px;
        margin: 0px 10px 0px 10px;
    }

    mat-error {
        font-size: smaller;
        padding: 0px 8px 12px 8px;
    }
}

.ltr {
    .buttons-panel {
        float: right;
    }
}

.rtl {
    .buttons-panel {
        float: left;
    }
}
.viewport-phone {
    .form-footer {
        button {
            min-width: 80px !important;
            margin: 0px 5px 0px 5px !important;
        }
    
        mat-error {
            font-size: smaller !important;
            padding: 0px 8px 12px 8px !important;
        }
    }

    .dialog-footer {
        button {
            // font-size: 12px;
            min-width: 80px;
            margin: 0px 5px 0px 5px;
        }
    }
}

.mat-radio-label-content {
    white-space: normal !important;
}