@import "src/styles";

.sync-comp {
    &[in-sync] {
        color: $app-color-go;
    }

    &[out-of-sync] {
        color: $app-font-color-subtle;
    }    

    &[syncing] {
        color: $app-font-color-subtle;
    }

    font-size: 14px;
    .sync-icon {
        font-size: 24px;
    }

    .sync-text {
        position: relative;
        padding: 0px 5px 0px 5px;
        top: -7px;
    }
}