<span class="sync-comp" [attr.in-sync]="inSyncAttr" [attr.out-of-sync]="outOfSyncAttr" [attr.syncing]="syncingAttr">
  <mat-icon class="sync-icon">{{icon}}</mat-icon><span class="sync-text">{{'state.' + syncState | translate}}</span>
</span>