<div style="float: left;">
  <h1 *ngIf="viewModel.isEditing">{{'payee-edit-view.title-edit' | translate}}</h1>
  <h1 *ngIf="!viewModel.isEditing">{{'payee-edit-view.title-create' | translate}}</h1>
</div>

<div style="clear: both;">
  <app-busystate-wrapper [state]="viewModel">
    <form (ngSubmit)="saveClick()">
      <mat-form-field appearance="outline" class="app-text-form-field">
        <mat-label>{{'label.payee-name' | translate}}</mat-label>
        <input type="text" matInput placeholder="Payee Name" [formControl]="formControls.payeeName" [errorStateMatcher]="matcher">
        <mat-error *ngIf="formControls.payeeName.hasError('required')">
          {{'label.payee-name' | requiredMsg }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="app-text-form-field">
        <mat-label>{{'label.payee-type' | translate}}</mat-label>
        <mat-select #payeeTypeSelect="matSelect" [formControl]="formControls.payeeType" [errorStateMatcher]="matcher">
          <mat-option *ngFor="let typeOpt of viewModel.payeeTypeOptions" value="{{typeOpt.value}}">{{typeOpt.name}}</mat-option>
        </mat-select>
        <mat-error *ngIf="formControls.payeeType.hasError('required')">
          {{'label.payee-type' | requiredMsg }}
        </mat-error>
      </mat-form-field>

      <mat-form-field *ngIf="payeeType==='email'" appearance="outline" class="app-text-form-field">
        <mat-label>{{'label.payee-email' | translate}}</mat-label>
        <input type="email" matInput placeholder="Payee email" [formControl]="formControls.payeeEmail"
          [errorStateMatcher]="matcher">
        <mat-error *ngIf="formControls.payeeEmail.hasError('email') && !formControls.payeeEmail.hasError('required')">
          {{ 'validation.invalid-email' | translate }}
        </mat-error>
        <mat-error *ngIf="formControls.payeeEmail.hasError('required')">
          {{'label.payee-email' | requiredMsg }}
        </mat-error>
      </mat-form-field>

      <mat-form-field *ngIf="payeeType==='account-number'" appearance="outline" class="app-text-form-field">
        <mat-label>{{'label.payee-acct-num' | translate}}</mat-label>
        <input type="text" matInput placeholder="Payee account number" [formControl]="formControls.payeeAccount"
          [errorStateMatcher]="matcher">
        <mat-error *ngIf="formControls.payeeAccount.hasError('required')">
          {{'label.payee-acct-num' | requiredMsg }}
        </mat-error>
        <mat-error *ngIf="formControls.payeeAccount.hasError('accountNumber')">
          {{'label.payee-acct-num' | invalidMsg }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="app-text-form-field">
        <mat-label>{{'label.description' | translate}}</mat-label>
        <textarea matInput type="text" rows="3" maxlength="500" placeholder="Description" [formControl]="formControls.description"
          [errorStateMatcher]="matcher"></textarea>
      </mat-form-field>

      <div class="form-footer">
        <div class="buttons-panel">
          <button mat-flat-button color="accent" type="button" [disabled]="state.isBusy" (click)="cancelClick()">{{'button.cancel'
            | translate}}</button>
          <button mat-flat-button color="primary" [disabled]="state.disableSubmit">{{'button.save' | translate}}</button>
        </div>
      </div>

    </form>
  </app-busystate-wrapper>
</div>