<span>
  <button mat-button (click)="feedbackClick()">
    <mat-icon>feedback</mat-icon>
    {{'action-item.feedback' | translate}}
  </button>
  <button mat-button [class.selected-item]="viewModel.viewContext=='profile'" (click)="profileClick()">
    <mat-icon>account_circle</mat-icon>
    {{'action-item.profile' | translate}}
  </button>
  <button mat-button (click)="logoutClick()">
    <mat-icon>lock_open</mat-icon>
    {{'action-item.logout' | translate}}
  </button>
</span>